@model TicketCategoryVM


<section class="breadcrumb-area bread-bg-6 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">

                        <a class="d-none"
                           data-fancybox="gallery"
                           data-src="~/images/destination-img2.jpg"
                           data-caption="Showing image - 02"
                           data-speed="700"></a>
                        <a class="d-none"
                           data-fancybox="gallery"
                           data-src="~/images/destination-img3.jpg"
                           data-caption="Showing image - 03"
                           data-speed="700"></a>
                        <a class="d-none"
                           data-fancybox="gallery"
                           data-src="~/images/destination-img4.jpg"
                           data-caption="Showing image - 04"
                           data-speed="700"></a>
                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section>

<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li><a data-scroll="description" href="#description" class="scroll-link active">Flight Details</a></li>
                            <li><a data-scroll="inflight-features" href="#inflight-features" class="scroll-link">Inflight Features</a></li>

                            <li><a data-scroll="fare-rules" href="#fare-rules" class="scroll-link">Fare Rules</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title font-size-26">@Model.Tickts.From/@Model.Tickts.To</h3>
                                <div class="d-flex align-items-center pt-2">
                                    <p class="mr-2">@Model.Tickts.Way</p>
                                    <p>
                                        <span class="badge badge-warning text-white font-weight-medium font-size-16">@Model.Tickts.Stop</span>
                                    </p>
                                </div>
                            </div><!-- end single-content-item -->


                            <div class="section-block"></div>
                            <div class="single-content-item py-4">
                                <div class="row">



                                    <div class="col-lg-4 col-sm-4">
                                        <div class="single-feature-titles text-center mb-3">
                                            <h3 class="title font-size-15 font-weight-medium">Flight Take off</h3>
                                            <span class="font-size-13">@Model.Tickts.Date</span>
                                        </div>
                                    </div><!-- end col-lg-4 -->

                                    <div class="col-lg-4 col-sm-4">
                                        <div class="single-feature-titles text-center mb-3">
                                            <i class="la la-clock-o text-color font-size-22"></i>
                                            <span class="font-size-13 mt-n2">@Model.Tickts.TotalTime</span>
                                        </div>
                                    </div><!-- end col-lg-4 -->

                                    <div class="col-lg-4 col-sm-4">
                                        <div class="single-feature-titles text-center mb-3">
                                            <h3 class="title font-size-15 font-weight-medium">Flight Landing</h3>
                                            <span class="font-size-13">@Model.Tickts.LandigTime</span>
                                        </div>
                                    </div><!-- end col-lg-4 -->

                                    <div class="col-lg-12">
                                        <div class="single-feature-titles text-center border-top border-bottom py-3 mb-4">
                                            <h3 class="title font-size-15 font-weight-medium">Total flight time:<span class="font-size-13 d-inline-block ml-1 text-gray">@Model.Tickts.TotalTime</span></h3>
                                        </div>
                                    </div><!-- end col-lg-12 -->




                                    <div id="inflight-features" class="page-scroll">
                                        <div class="single-content-item padding-top-40px padding-bottom-30px">
                                            <h3 class="title font-size-24 font-weight-medium">Ticket Feature</h3>
                                            @* <p class="pt-3">Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec
                                            eget accumsan est. Duis laoreet sagittis elit
                                            et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc.</p> *@
                                            <div class="inflight-content-item pt-4">
                                                <div class="row">



                                                    @foreach (var item in Model.Categories)
                                                    {
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3" style="color:red">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
                                                                        <path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
                                                                        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="single-feature-titles">

                                                                    <h3 class="title font-size-18">@item.TicketsClassName</h3>


                                                                </div>
                                                            </div><!-- end single-tour-feature -->
                                                        </div>

                                                        <!-- end col-lg-4 -->
                                                    }

                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3" style="color:black">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suitcase" viewBox="0 0 16 16">
                                                                        <path d="M6 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 6 5m2 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m2 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 10 5" />
                                                                        <path d="M6.5 0a.5.5 0 0 0-.5.5V3H5a2 2 0 0 0-2 2v8a2 2 0 0 0 1.031 1.75A1.003 1.003 0 0 0 5 16a1 1 0 0 0 1-1h4a1 1 0 1 0 1.969-.25A2 2 0 0 0 13 13V5a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-.5-.5zM9 3H7V1h2zm3 10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="single-feature-titles">

                                                                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Baggage<span>@item.Baggage</span></p>
                                                                </div>
                                                            </div><!-- end single-tour-feature -->
                                                        </div>

                                                        <!-- end col-lg-4 -->
                                                    }

                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <div class="col-lg-4 responsive-column">
                                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3" style="color:black">
                                                                    <i class="bi bi-briefcase-fill"></i>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suitcase-lg" viewBox="0 0 16 16">
                                                                        <path d="M5 2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h3.5A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5H14a.5.5 0 0 1-1 0H3a.5.5 0 0 1-1 0h-.5A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2zm1 0h4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1M1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5H3V3zM15 12.5v-9a.5.5 0 0 0-.5-.5H13v10h1.5a.5.5 0 0 0 .5-.5m-3 .5V3H4v10z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="single-feature-titles">

                                                                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Cabin Baggage<span>@item.CabinBaggage</span></p>
                                                                </div>
                                                            </div><!-- end single-tour-feature -->
                                                        </div>

                                                        <!-- end col-lg-4 -->
                                                    }



                                                </div><!-- end row -->
                                            </div><!-- end inflight-content-item -->
                                        </div><!-- end single-content-item -->
                                        <div class="section-block"></div>
                                    </div><!-- end inflight-features -->







                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-plane"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Airline</h3>
                                                <span class="font-size-13">Fly Emirates</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-user"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Flight Type</h3>
                                                <span class="font-size-13">@Model.Tickts.Classes</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-refresh"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Fare Type</h3>
                                                <span class="font-size-13">Refundable</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-times"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Cancellation</h3>
                                                <span class="font-size-13">$78 / Person</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-exchange"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Flight Change</h3>
                                                <span class="font-size-13">$53 / Person</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-shopping-cart"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Seats & Baggage</h3>
                                                <span class="font-size-13">Extra Charge</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-gear"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Inflight Features</h3>
                                                <span class="font-size-13">Available</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-building"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Base Fare</h3>
                                                <span class="font-size-13">%18</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->

                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-money"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Taxes & Fees</h3>
                                                <span class="font-size-13">%20 of Each Ticktes</span>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>

                            <div class="section-block"></div>
                        </div><!-- end description -->



                        <div id="fare-rules" class="page-scroll">
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">Fare Rules for your Flight</h3>
                                <div class="fare-feature-item padding-top-30px pb-2">
                                    <div class="row">
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Rules And Policies</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Flight Changes</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Refunds</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Airline Penalties</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Flight Cancellation</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                        <div class="col-lg-4 responsive-column">
                                            <div class="single-tour-feature d-flex align-items-center mb-3">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                    <i class="la la-check"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium">Airline Terms Of Use</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                    </div><!-- end row -->
                                </div>
                                <p>
                                    Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet
                                    sagittis elit et vehicula. Cras viverra posuere condimentum.Donec urna arcu, venenatis quis augue sit amet, mattis
                                    gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.
                                </p>

                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end faq -->
                        <div id="reviews" class="page-scroll">

                            <div class="section-block"></div>
                        </div><!-- end reviews -->

                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div class="sidebar-book-title-wrap mb-3">
                                    <h3>Popular</h3>
                                    <p><span class="text-form">From</span><span class="text-value ml-2 mr-1">@Model.Tickts.Price</span> <span class="before-price">$412.00</span></p>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <form action="#">
                                        <div class="input-box">
                                            <label class="label-text">Date</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-range form-control" type="text" name="daterange-single">
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label class="label-text">Preferred class</label>
                                            <div class="form-group">
                                                <div class="select-contain w-auto">
                                                    <select class="select-contain-select">
                                                        @*  <option value="@Model.Classes">@Model.Classes</option> *@
                                                        <option value="Business">Business</option>
                                                        <option value="First">First</option>
                                                        <option value="">Economy/Coach</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">

                                @foreach (var item in Model.Passengers)
                                {
                                    <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                        <label class="font-size-16">@item.Name <span>@item.Description</span></label>
                                        <div class="qtyBtn d-flex align-items-center">
                                            <div class="qtyDec"><i class="la la-minus"></i></div>
                                            <input type="text" name="qtyInput" value="0">
                                            <div class="qtyInc"><i class="la la-plus"></i></div>
                                        </div>
                                    </div>

                                    <!-- end qty-box -->
                                }


                            </div><!-- end qty-box -->
                        </div><!-- end sidebar-widget-item -->
                        <div class="btn-box pt-2">
                            <a asp-controller="Home" asp-action="FlightBooking" class="theme-btn text-center w-100 mb-2"><i class="la la-shopping-cart mr-2 font-size-18"></i>Book Now</a>
                            <a href="#" class="theme-btn text-center w-100 theme-btn-transparent"><i class="la la-heart-o mr-2"></i>Add to Wishlist</a>
                            <div class="d-flex align-items-center justify-content-between pt-2">
                                <a href="#" class="btn theme-btn-hover-gray font-size-15" data-toggle="modal" data-target="#sharePopupForm"><i class="la la-share mr-1"></i>Share</a>
                                <p><i class="la la-eye mr-1 font-size-15 color-text-2"></i>3456</p>
                            </div>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget single-content-widget">
                        <h3 class="title stroke-shape">Enquiry Form</h3>
                        <div class="enquiry-forum">
                            <div class="form-box">
                                <div class="form-content">
                                    <div class="contact-form-action">
                                        <form method="post">
                                            <div class="input-box">
                                                <label class="label-text">Your Name</label>
                                                <div class="form-group">
                                                    <span class="la la-user form-icon"></span>
                                                    <input class="form-control" type="text" name="text" placeholder="Your name">
                                                </div>
                                            </div>
                                            <div class="input-box">
                                                <label class="label-text">Your Email</label>
                                                <div class="form-group">
                                                    <span class="la la-envelope-o form-icon"></span>
                                                    <input class="form-control" type="email" name="email" placeholder="Email address">
                                                </div>
                                            </div>
                                            <div class="input-box">
                                                <label class="label-text">Message</label>
                                                <div class="form-group">
                                                    <span class="la la-pencil form-icon"></span>
                                                    <textarea class="message-control form-control" name="message" placeholder="Write message"></textarea>
                                                </div>
                                            </div>
                                            <div class="input-box">
                                                <div class="form-group">
                                                    <div class="custom-checkbox mb-0">
                                                        <input type="checkbox" id="agreechb">
                                                        <label for="agreechb">
                                                            I agree with <a href="#">Terms of Service</a> and
                                                            <a href="#">Privacy Statement</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-box">
                                                <button type="button" class="theme-btn">Submit Enquiry</button>
                                            </div>
                                        </form>
                                    </div><!-- end contact-form-action -->
                                </div><!-- end form-content -->
                            </div><!-- end form-box -->
                        </div><!-- end enquiry-forum -->
                    </div><!-- end sidebar-widget -->



                </div><!-- end sidebar -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
    </div><!-- end single-content-box -->
</section><!-- end tour-detail-area --> 

<div class="section-block"></div>
